/* box sizing */
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

/* vars */
:root {
	--fs: 19px;
	--fs-h1: 2rem;
	--fs-h2: 1.6rem;
	--fs-h3: 1.4rem;
	--size: 1.5rem;
	--size-container: 45rem;
}
@media (prefers-color-scheme: light) {
	:root,
	:host {
		color-scheme: light;
		--c-fg: black;
		--c-bg: transparent;
		--c-bg--secondary: green;
		--c-link: orange;
	}
}
@media (prefers-color-scheme: dark) {
	:root,
	:host {
		color-scheme: dark;
		--c-bg: transparent;
		--c-bg--secondary: darkolivegreen;
		--c-fg: white;
		--c-link: turquoise;
	}
}

/* document */
html {
	font-size: var(--fs);
	color: var(--c-fg);
	background-color: var(--c-bg);
}

@media (max-width: 40rem) {
	html {
		font-size: 1rem;
	}
}

body {
	margin: 0;
	min-height: 100vh;
	padding: 1rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* typography */
h1,
h2,
h3,
p {
	margin-top: 0;
	margin-bottom: calc(var(--size) / 2);
}
h1 {
	font-size: var(--fs-h1);
}
h2 {
	font-size: var(--fs-h2);
}
h3 {
	font-size: var(--fs-h3);
}
/* vertical dynamism */
section {
	width: 100%;
	max-width: var(--size-container);
	margin: calc(var(--size) * 0.5);
	padding: calc(var(--size) * 0.5);
}
menu {
	margin: 0;
	padding: calc(var(--size) / 3);
	:is([inline]) {
		display: flex;
		flex-wrap: wrap;
		list-style-position: inside;
	}
}
menu li:not(:last-child) {
	margin-right: calc(var(--size) / 2);
}

section[background] {
	background-color: var(--c-bg--secondary);
	border-radius: 0.3rem;
}

/* base elements */
small {
	font-size: 0.8rem;
}
a,
a:active,
a:visited {
	color: var(--c-link);
}
img {
	max-width: 100%;
}

/* custom article */
article {
	font-size: 1rem;
}
article a {
	text-decoration: none;
}

list-org-repos main {
	display: flex;
	flex-wrap: wrap;
}
list-org-repos a {
	display: flex;
	padding: 0.3rem;
}

matrix-room-element {
	display: flex;
	flex-direction: column;
}
matrix-room-state {
	display: flex;
	flex-direction: column;
}
matrix-room-name {
	font-size: var(--fs-h2);
}
matrix-room-context {
	margin-top: var(--size);
}
matrix-room-context button[dir] {
	display: none;
}

matrix-space-children matrix-room-element {
	padding: calc(var(--size) * 0.5);
}
